* {
    margin: 0;
    padding: 0;
}

.root {
    width: 100vw;
    height: auto;
}

.root h2 {
    margin-top: 1vh;
    margin-left: 1vh;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.3vh;
}

.inner_section {
    width: 100%;
    height: 100%;
}

.fun_section {
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: "2vh";
    display: "flex";
    justify-content: "center";
}

.card_div {
    width: "100%";
    height: "auto";
    margin-top: "2vh";
}

.arrow_section {
    width: "100vw";
    height: "100vh";
    margin-top: "2vh";
}

.btn_p {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.3vh;
    cursor: pointer;
}